@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_2242857_lf48s13326e.eot?t=1612320724780'); /* IE9 */
  src: url('//at.alicdn.com/t/font_2242857_lf48s13326e.eot?t=1612320724780#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
      url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAecAAsAAAAADkAAAAdPAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDXgqPCIw9ATYCJAMcCxAABCAFhG0HZhsbDKOilG82yf7ywCZDWTH/4K4RG5Vmi7ZoelCF+HTwpywdvPto9NrC+8b5xdMIorWyemZ294jVfxSBiiVwCApVhIlDVCLCR5gI+ToI+obH0/69zUk1sFO74jCQnYqJGaD0vtuDmkzI5gM9FB/2wjZ381AXEhZJN0sasX+I7YimOQx8IXDmH3s96MFKrFLFfhk/fyz1bhk2zLe2AxzQzP6//rnqstEwEqcbUGTjbMNZaYaYTiW8Lh3EDg9gawId67iBhxLuLxgrfBqocqvWMWHcCFdGnENL1sySJcUblVZ6mt4Dr7P7j6+UMCGpMn9bJ24efrD+IHi+s7zjSt7j7vpioS5HxnZAIR6x8XfkgmzPWIf7m8UZYKAlqT9sFCbPi087v1zSbOl3DYMglCX/5ykqIRM1Yj2YX6D1mdRGASQ+hGk4nodQBfwFAqj45BFA8Ct3L5g2SwywBUi3AeTDwLdbjzV321oqPb3VAeOoqX3bd5sprT2aSPGDcY9wPb+U8cgguIAOrd9nI0OVaxDKVwUIXDoB5dcVVx1Gj/EBtWwLRlfKdLKChFasdgpQaSTqSyM+kvWMKyMoy6MChbVsfEqwTCiCxP4ECHUVeGVqwk5yVEFYE4vUiNXoJeUVNslXqoq50Qee5Bht7LKCJ5XbyKRimISh5I6g1I/KCuArVldSSijyFG76EhU4s9gv5qtUVirbGbVYXwal8IrOaU6bsPjwajjimmAgBhI9rZZL2JA2QulbK5HIdN+PLF6X3xCipE6mtVSNeFITjYiFNJKgC9fwqzzaunoHUzdCi5tEMZO1jDGr6VS8KFH2kno3FAeL4HmhpLWEy1Aryx6CrDPU2saaWXJ2w2Fy0//CtvPUVth6jlzRYalEBPY2sJtUqvB2hXZLK59tnVKbGpwNdf5uaLZNalaCVVx/KGry7+Iyq4l/MK5z2lzunZbdN3del3hPnBm19OwGnsqWl1ivXSoLFstCJUH9p3wRgB+1RAgCQjmJovAybRa/xkeXbrDh2PUegIQMUSwD+Ap6U/RMrJZ1A5evFVOAdEcJ9UmijKE4io9aMZWkfKypdAFwVZ4NlBNMTalSugtelyP/1Vi/b+Vn/W6mX1DPeXvOldgroH2+JijzqaGf4dOB11eEd7mWfoIngln3bs53nGj/zn/dTrL6OPqcUj/CzG2Us77jLS7f3/9DofYdVWXdAReT7IjVDt3uaDbGNrZmV83cmBE7WJvEe4verauMXC03f8DPr8rH8ijSu/PuNAvR8c6+5lNVWLmYniVF2rNWahMiTnd4h/gfgeBYuV7U/kyOUSn7Rwlrl3HpzUyjXSzJj+xMQ07f5fmS2xvodcH6WBlLL+BICIi67dvbEBZbYTDEan6qoyyw/22j/2c7Uh7pTPesrO2fqLVesMMzEXf91Dn6J9tqyvLpm83MJvvZsN60ZG7JfwWM4NRgDwXMkn+BHwQ3Z3wDfGduXlp6B82DWfX1WVCgBMVjGPlj3gWZsKEBCmMmELSTRnjW4R2d5MapZXUQUTm00DA0b+mdS6uS/42NBf7iHnjidbtGA4NozBOv9cBuePI120Z9fXGQk6+3uVbpkW02BQb6toWj7dXQENMn2mzzDQzqY9SAqnLjKo1+dSOpTaddVW9goVgY7SXkmpsLCxr7WPoBN+c45mUmYBa5iVzecxHJwtT3RC65lcLZxHmM3XgCLC6CiTBBCk+AQLExESVdv0iDGAZhTFMQ4tNhlYToK5Ee2JKcYmOTnNzampJsbJySEhg0aax978+IRPZsUfrsbDQO214kCvkkk5vGCfrG5X/Sn3NNP7Z9JTyP7/acj+i8Dza7phk9Ml0xmjj4f1y/6arhJPKH8P+GwG7VTrCRzWmyaiJg/+JBzVPnfe8yzZiRM4t5J/cuI1rkywQ54XsHVVwG27sMO8bdkp/OWFgkWgiluYMeSZqeI/vQPQefm06ih7WAxja8gLyJPjM4iUzfRSYVN9OHaKL3qvU5BrAsz+ca8u40aeSeH+ZxVij/mO/8hkzl2KsVTV+F/df9WxmyFpWa6i0VWr7HDwE3W/uLUarQINE7epDGZSLRy1pCMzOx8fZzmJvQCTrxO5E88f76xHy29kdJzCtIGquQtaxXFvPtUOnaBbWWvdCxTeLyXVNteqK0sdUrAsLICUgG3kE28gwBwfw9qCx8B7VR6EPHubBYY9fGqEVi28jM6YflDdZ+ObbDqHyaV32QU4RmWtdnrh9KMy8LvT282kUniildxzztpaN05DZiKUeYILZHYcjYkrJP31yoyfO/6umJcfMKFRzB1EEpYsoT3z+oXKNa64vF7J5z087dPxBHIWRKR9q0VT9IKuONHnnz4DVDeWLxrDb3pXa7kkPRQbE2jBqnWAQlUCwJg3yGWvjJfOQrJ6hZIvdP5UkdYXOZsH0R3c7MzdeuP0cTKXKUqKKOJjBndbW5Im9UXRY7AReDtqh0TqPe2vjbutmsr7N1Pd9zuFCQKgwAAA==')
      format('woff2'),
    url('//at.alicdn.com/t/font_2242857_lf48s13326e.woff?t=1612320724780') format('woff'),
    url('//at.alicdn.com/t/font_2242857_lf48s13326e.ttf?t=1612320724780') format('truetype'),
    /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */ url('//at.alicdn.com/t/font_2242857_lf48s13326e.svg?t=1612320724780#iconfont')
      format('svg'); /* iOS 4.1- */
}

.iconfont {
  /* 自定义样式 */
  font-family: 'iconfont' !important;
  font-size: 23px;
  font-style: normal;
  margin-right: 5px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-icon-bowei:before {
  font-size: 17px;
  /* margin: 0 1px 0 5px; */
  content: '\e82e';
}

.el-icon-gangkou:before {
  font-size: 17px;
  margin: 0 1px 0 5px;
  content: '\e626';
}

.el-icon-route:before {
  font-size: 18px;
  margin: 0 0 0 5px;
  /* margin-right: 5px; */
  content: '\f09c';
}

.el-icon-yincang:before {
  content: '\e659';
}

.el-icon-zuzhijigou2:before {
  content: '\e6cf';
}

.el-icon-zuzhijigou:before {
  content: '\e63c';
}
